<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Спаровочник_аптекаря.Properties.Settings.lukyanenkoConnectionString"
            connectionString="Data Source=APPK-MAIN;Initial Catalog=lukyanenko;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>